*.class
*.jar
*~
*.so
*.o
*.isq
*.mp4
\#*
/BUILD/
/org/bzdev/ejws/defaultCerts
classes/
/mods/
/aclasses/
/bclasses/
/classes2/
ourclasses/
tests/JNITest.h
tests/classes/
tests/lang/dmtest/ourclasses1/
tests/lang/dtsm.policy
tests/devqsim/test.html
tests/*/tmpsrc/
tests/*/*/tmpsrc/
tests/*/*/tmp/
tests/*/tmp/
tests/p3d/ltmp/
tests/graphs/abclocktest*.png
tests/graphs/abclocktest*.ps
tests/graphs/abtest*.png
tests/graphs/axistest*.png
tests/graphs/axistest*.ps
tests/graphs/logabtest1.png
tests/graphs/testBB*.png
tests/graphs/testgrid*.png
tests/graphs/testpolar*.png
tests/anim2d/[bcdfrgp]tmp/
tests/anim2d/rtmp2/
tests/anim2d/rtmp3/
tests/anim2d/datmp/
tests/anim2d/dtmp1/
tests/anim2d/gvt1/
tests/anim2d/rottmp/
tests/anim2d/rottmp2/
tests/geom/*test*.png
tests/geom/pstest.log
tests/geom/subdiv2.png
tests/geom/paths2d*.png
tests/imageio/obtest.png
tests/io/test.dir/
tests/io/fis.out
tests/obnaming/*test.html
tests/obnaming/*test.txt
tests/obnaming/ltf.html
tests/p3d/*.txt
tests/p3d/*.dat
*/tmpsrc
tmpsrc/
src/*/org/bzdev/doc-files/*
src/*/org/bzdev/*/doc-files/*.png
src/*/org/bzdev/*/*/doc-files/*.png
tests/graphs/test*Graph*.*
tests/graphs/test*Axis.png
tests/graphs/test*Axes.png
tests/graphs/rotationTest.png
tests/graphs/testImage.png
tests/graphs/exampleGraph.*
tests/gio/sgtest.png
tests/imageio/obtest.jpg
tests/geom/bezier[123].png
tests/anim2d/tmp
tests/anim2d/test.isq
tests/p3d/*.png
tests/p3d/*.stl
tests/p3d/*.x3d
tests/p3d/*.webm
tests/p3d/*.ps
tests/p3d/*.x3db
tests/gio/out.*
tests/gio/out-*
tests/anim2d/testGraph.png
tests/protocols/testdir/*
tests/protocols/testdir/
tests/swing/pgtest*.png
examples/atmp
examples/htmp
examples/latmp
examples/ttmp
examples/bhtmp
examples/lptmp2
examples/lsqfit.svg
examples/pndltmp
examples/*/*.isq
examples/*.eps
examples/*.ps
examples/*.png
examples/*.jpg
examples/*.webm
examples/*.stl
examples/*.html
examples/smartmeter/tclasses/
examples/smartmeter/ttmpsrc/
scrunner.1.pdf
scrunner.conf.5.ps
scrunner.1.ps
scrunner.conf.5.pdf
lsnof.1.ps
lsnof.1.pdf
src/doc-files/*
src/org.bzdev.ejws/org/bzdev/ejws/defaultCerts
src/org.bzdev.base/org/bzdev/math/doc-files/DefaultFFT.txt
/tests/ejws/*.jks
diagrams/overlay.svg
diagrams/modules.png
/org/
local-files/
