grant codebase "file:${user.dir}/../../BUILD/libbzdev-base.jar" {
      permission java.security.AllPermission;
};

grant codebase "file:${user.dir}/../../BUILD/libbzdev-math.jar" {
      permission java.security.AllPermission;
};

grant codebase "file:${user.dir}/../../BUILD//libbzdev-obnaming.jar" {
      permission java.security.AllPermission;
};

grant codebase "file:${user.dir}/../../BUILD//libbzdev-graphics.jar" {
      permission java.security.AllPermission;
};

grant codebase "file:${user.dir}/../../BUILD//libbzdev-desktop.jar" {
      permission java.security.AllPermission;
};

grant codebase "file:${user.dir}/../../BUILD/libbzdev-devqsim.jar" {
      permission java.security.AllPermission;
};

grant codebase "file:${user.dir}/../../BUILD/libbzdev-drama.jar" {
      permission java.security.AllPermission;
};

grant codebase "file:${user.dir}/../../BUILD//libbzdev-anim2d.jar" {
      permission java.security.AllPermission;
};

grant codebase "file:${user.dir}/../../BUILD//libbzdev-p3d.jar" {
      permission java.security.AllPermission;
};

grant codebase "jrt:/jdk.scripting.nashorn.scripts" {
      permission java.security.AllPermission;
};

grant codebase "file:${user.dir}/classes" {
      permission org.bzdev.scripting.ScriptingContextPermission
	"org.bzdev.scripting.DefaultScriptingContext", "trusted";

      permission org.bzdev.scripting.ScriptingContextPermission
	"SecTest$OurScriptingContext", "trusted";

      permission org.bzdev.scripting.ScriptingContextPermission
	"ThreadTest$OurScriptingContext", "";

      permission java.io.FilePermission "test1.js", "read";
};
